@font-face {
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('../assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: bold;
    font-style: normal;
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
        url('../assets/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: normal;
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('../assets/fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../assets/fonts/Merriweather-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
        url('../assets/fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../assets/fonts/Merriweather-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    /*background-color: #000;*/
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    margin-top: 0;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

/*Header*/

.header__container {
    width: 1440px;
    height: 90px;
    padding-top: 20px;
    display: flex;
    background: url(../assets/img/bg_hero.jpg) no-repeat;
    background-position: center 0;
}

.header__logo {
    width: 50px;
    height: 50px;
    fill: #FFFFFF;
}

.header__nav {
    margin-left: auto;
}

.header__nav-link {
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 30px;
}

.header_switch {
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    color: #FFFFFF;
}

.header__switch-en {
    margin-right: 5px;
    color: #BDAE82;
}

.header__switch-ru {
    margin-left: 5px;
}

/*Hero*/

.hero__container {
    padding-top: 160px;
    padding-left: 80px;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url(../assets/img/bg_hero.jpg) no-repeat;
    background-position: center -90px;
    color: #FFFFFF;
}

.hero__title {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 2;
}

.hero__descr {
    margin-top: 0;
    margin-bottom: 25px;
    width: 35%;
    font-size: 20px;
    line-height: 40px;
}

.hero__btn {
    padding: 8px 72px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    font-size: 20px;
    line-height: 2;
}

/*Skills*/

.skills__item:nth-child(1) {
    background: url(../assets/svg/camera.svg) no-repeat;
}

.skills__item:nth-child(2) {
    background: url(../assets/svg/video.svg) no-repeat;
}

.skills__item:nth-child(3) {
    background: url(../assets/svg/image.svg) no-repeat;
}

.skills__item:nth-child(4) {
    background: url(../assets/svg/microphone.svg) no-repeat;
}


/*Video*/

.video__player {
    width: 1400px;
    height: 705px;
}

/*Contacts*/

.contacts__container {
    background: url(../assets/img/bg_contacts.jpg) no-repeat;
    background-position: center 0;
}
