@font-face {
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('../assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: bold;
    font-style: normal;
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
        url('../assets/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: normal;
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('../assets/fonts/Merriweather-Regular.woff2') format('woff2'),
        url('../assets/fonts/Merriweather-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
        url('../assets/fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../assets/fonts/Merriweather-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    background-color: #000;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    line-height: 2;
}
.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    margin-top: 0;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

/*Header*/

.header__container {
    width: 1440px;
    height: 90px;
    padding-top: 20px;
    display: flex;
    background: url(../assets/img/bg_hero.jpg) no-repeat;
    background-position: center 0;
}

.header__logo {
    width: 50px;
    height: 50px;
    fill: #FFFFFF;
}

.header__nav {
    margin-left: auto;
}

.header__nav-link {
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}

.header__list {
    display: flex;
}

.header__list:last-child {
    margin-right: 32px;
}

.header__item:not(:last-child) {
    margin-right: 31px;
}

.header_switch {
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    color: #FFFFFF;
}

.header__switch-en {
    margin-right: 5px;
    color: #BDAE82;
}

.header__switch-slash {
    margin-right: 2px;
}

/*Hero*/

.hero__container {
    padding-top: 160px;
    padding-left: 80px;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url(../assets/img/bg_hero.jpg) no-repeat;
    background-position: center -90px;
    color: #FFFFFF;
}

.hero__title {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 2;
}

.hero__descr {
    margin-top: 0;
    margin-bottom: 25px;
    width: 35%;
    font-size: 20px;
    line-height: 40px;
}

.hero__btn {
    padding: 8px 72px;
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    font-size: 20px;
    line-height: 2;
}

/*Skills*/

.skills__container {
    height: 482px;
    background-color: #000;
}

.skills__title {
    margin-bottom: 60px;
    padding-top: 100px;
    position: relative;
    text-align: center;
    font-size: 40px;
    line-height: 2;
    color: #BDAE82;
}
.skills__title::before {
    content: "";
    position: absolute;
    width: 272px;
    top: 139px;
    left: 350px;
    border: 1px solid #BDAE82;
}

.skills__title::after {
    content: "";
    position: absolute;
    width: 272px;
    top: 139px;
    right: 350px;
    border: 1px solid #BDAE82;
}

.skills__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.skills__card:not(:last-child) {
    margin-right: 40px;
}

.skills__list {
    width: 320px;
    height: 240px;
    padding: 80px 20px 8px;
}

.skills__list:nth-child(1) {
    background: url(../assets/svg/camera.svg) no-repeat;
    background-position: top center;
}

.skills__list:nth-child(2) {
    background: url(../assets/svg/video.svg) no-repeat;
    background-position: top center;
}

.skills__list:nth-child(3) {
    background: url(../assets/svg/image.svg) no-repeat;
    background-position: top center;
}

.skills__list:nth-child(4) {
    background: url(../assets/svg/microphone.svg) no-repeat;
    background-position: top center;
}

.skills__item-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
    color: #FFFFFF;
}

.skills__item-descr {
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: #FFFFFF;
}

/*Portfolio*/

.portfolio__title {
    margin-bottom: 60px;
    position: relative;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 2;
    color: #BDAE82;
}

.portfolio__title::before {
    content: "";
    position: absolute;
    width: 236px;
    top: 139px;
    left: 350px;
    border: 1px solid #BDAE82;
}

.portfolio__title::after {
    content: "";
    position: absolute;
    width: 239px;
    top: 139px;
    right: 350px;
    border: 1px solid #BDAE82;
}

.portfolio__list-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.portfolio__btn {
    width: 220px;
    height: 55px;
    margin-bottom: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border: 2px solid #BDAE82;
    font-size: 20px;
    line-height: 2;
    color: #BDAE82;
    background-color: transparent;
}

.portfolio__btn:last-child {
    background-color: #BDAE82;
    color: #000;
}

.portfolio__gallery-pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

/*Video*/


.video__title {
    margin-bottom: 60px;
    position: relative;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 2;
    color: #BDAE82;
}

.video__title::before {
    content: "";
    position: absolute;
    width: 270px;
    top: 139px;
    left: 350px;
    border: 1px solid #BDAE82;
}

.video__title::after {
    content: "";
    position: absolute;
    width: 269px;
    top: 139px;
    right: 350px;
    border: 1px solid #BDAE82;
}

.video__player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.video__play-btn {
    position: absolute;
    fill: #FFFFFF;
}

.video__player-icon {
    width: 130px;
    height: 130px;
}

/*Price*/

.price__title {
    margin-bottom: 60px;
    position: relative;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 2;
    color: #BDAE82;
}

.price__title::before {
    content: "";
    position: absolute;
    width: 277px;
    top: 139px;
    left: 350px;
    border: 1px solid #BDAE82;
}

.price__title::after {
    content: "";
    position: absolute;
    width: 277px;
    top: 139px;
    right: 350px;
    border: 1px solid #BDAE82;
}

.price__card-list {
    display: flex;
    justify-content: space-between;
}

.price__card {
    width: 450px;
    height: 505px;
    display: flex;
    flex-direction: column;
    border: 3px solid #BDAE82;
}

.price__card-title {
    margin-bottom: 19px;
    padding-top: 41px;
    text-align: center;
    font-size: 28px;
    line-height: 2;
    color: #FFFFFF;
}

.price__card-price {
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 2;
    color: #BDAE82;
}

.price__card-descr {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: #FFFFFF;
}

.price__card-descr:nth-last-child(2) {
    margin-bottom: 39px;
}

.price__btn {
    width: 220px;
    height: 55px;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background-color: #BDAE82;
    font-size: 20px;
    line-height: 2;
    color: #000;
}

/*Contacts*/

.contacts {
    padding-top: 100px;
}

.contacts__container {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: url(../assets/img/bg_contacts.jpg) no-repeat;
    background-size: auto 700px;
    background-position: center center;
}

.contacts__title {
    margin-right: 223px;
    margin-bottom: 40px;
    padding-top: 59px;
    font-size: 40px;
    line-height: 2;
    color: #BDAE82;
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.contacts__form-input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
}

.contacts__form-textarea {
    width: 450px;
    height: 100px;
    margin-bottom: 30px;
    padding-left: 20px;
    resize: none;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
}

.contacts__form-btn {
    width: 220px;
    height: 55px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #BDAE82;
    font-size: 20px;
    line-height: 2;
    color: #000;

}